:root {
  --primaryColor: #dabfff;
  --secondaryColor: #4f518c;
  --textColor: #907ad6;
  --lightColor: #7fdeff;
  --darkColor: #2c2a4a;
}

@font-face {
  font-family: "vazir";
  src: url("/fonts/vazir.ttf") format("truetype");
}

* {
  box-sizing: border-box;
}

html {
  font-family: vazir;
  font-weight: normal;
  direction: rtl;
  text-align: right;
}

body {
  margin: 0;
  font-family: inherit;
}
::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background-color: var(--darkColor);
}

::-webkit-scrollbar-thumb {
  background-color: var(--lightColor);
  border-radius: 25px;
  box-shadow: 0 0 5px var(--lightColor);
}
.container,
.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--darkColor);
}
.container {
  width: 100%;
  height: 100vh;
  position: relative;
}
.wrapper {
  width: 1440px;
  height: 250px;
  gap: 50px;
}
.items,
.items img {
  width: 100%;
  height: 100%;
}
.items img {
  object-fit: cover;
  border-radius: 5px;
  box-shadow: 0 0 10px var(--lightColor);
}
.loading {
  width: 100%;
  height: 100vh;
  position: fixed;
  inset: 0;
  background: url("../images/cube.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-color: #f1f2f3;
}
